:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1600px;
    margin:0 auto 0 auto;
    
}
 * {
     margin: 0;
     padding: 0;
 }

.about  {
    height: 100vh;
    background-color:#1d2d44;
}

.about__content  {
    position: absolute;
    right: 150px;
    top: 75px;
    width: 35%;
    color:#f0ebd8;
}

.about__title  {
    font-size: 48px;
    text-align: center;
}

.about__age  {
    text-align: center;
    margin: 32px 0 32px 0;
    font-size: 22px;
    color: #87bcde;
}

.about__description  {
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.rectangle  {
    position: absolute;
    left: 10%;
    top: 0;
    height: 100vh;
    width: 35%;
    background-color: #3e5c76;
}

.about-navigation  {
    position: absolute;
    bottom: 100px;
    right: 0px;
    margin-right: 10%;
}

.about-navigation__link  {
    text-decoration: none;
    color:#f0ebd8;
    font-size: 24px;
    margin-right: 32px;
    transition: linear .3s;
}

.about-navigation__link:hover  {
    border-bottom: 3px solid #87bcde;
}