:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1600px;
    margin:0 auto 0 auto;

}
 * {
     margin: 0;
     padding: 0;
 }

 body  {
     height: 200vh;
 }

.about  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #1d2d44;
    height: 100vh;
}

.about__content  {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 8;
    text-align: center;
    color: #f0ebd8;
}

.about__title  {
    text-transform: uppercase;
    font-size: 50px;
}

.about__age  {
    margin: 32px 0 32px 0;
    color: #87bcde;
    font-size: 24px;
}

.about__description  {
    font-size: 18px;
    line-height: 28px;
}

.rectangle  {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 13;
    background-color: #3e5c76;

}

.about-navigation  {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 12;
    text-align: center;
}

.about-navigation__link  {
    text-decoration: none;
    color: #f0ebd8;
    font-size: 24px;
    margin-right: 16px;
    text-transform: uppercase;
}